body {
  background-image: url(assets/cookin.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 670px) {
  header {
    min-height: 500px;
  }
}

img {
  outline: #5d4037 solid 2px;
  padding: 3px;
}

.brand-logo {
  margin-left: 50px;
  
}

#nav-mobile {
  margin-right: 100px;
}

#APIs {
  margin: 150px;
}

.modal {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: dashed 3px black;
}
#entreeName {
  margin-top: 15px;
}
#entreeImage {
  width: 500px;
}
#entreeRecipe {
  padding: 15px;
}
#entreeLink {
  font-size: larger;
  margin-bottom: 15px;
}
#cocktailName {
  margin-top: 15px;
}
#cocktailImage {
  width: 500px;
}
#cocktailRecipe {
  padding: 15px;
}
#cocktailLink {
  font-size: larger;
  margin-bottom: 15px;
}
