body {
  background-image: url(assets/cookin.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 670px) {
  header {
    min-height: 500px;
  }
}

.brand-logo {
  margin-left: 40px;
}

#nav-mobile {
  margin-right: 100px;
}

#APIs {
  margin: 150px;
}
